<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio Website</title>
    {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
    {% endblock %}
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Simple header</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link text-dark" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link text-dark">About</a></li>
        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link bg-secondary text-light">Contact</a></li>
      </ul>
    </header>
  </div>