{% include 'header.html' %}

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{url_for('static', filename='1698605585356.jfif')}}" class="d-block mx-lg-auto img-fluid rounded-circle" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Παπαγεωργίου Γιώργος</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at aliquet erat, vitae porta augue. Morbi ultricies metus odio.</p>
        <ul class="list-unstyled">
          <li class="lead">Τηλέφωνο: +30 1234567890</li>
          <li class="lead">Email: email@email.com</li>
        </ul>
      </div>

    </div>
  </div>

{% include 'footer.html' %}